<header class="shadow-md py-4 bg-white">
  <div class="container mx-auto flex items-center justify-between min-h-[2rem]">
    <div class="mr-6">
      <a href="#" class="brand-logo">Angular <span class="text-blue-500">Blog</span></a>
    </div>

    <ng-container *ngIf="loginService.isLoggedIn; else elseBlock">
      <app-nav-list class="flex-1 flex"></app-nav-list>

      <app-dropdown-menu></app-dropdown-menu>
    </ng-container>

    <ng-template #elseBlock>
      <app-auth-button [btnText]="'Login'" (click)="onLogin()"></app-auth-button>
    </ng-template>
  </div>
</header>
