<div class="max-w-4xl">
  <h2 class="text-center">Add post</h2>
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title"> Title </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="title"
        type="text"
        placeholder="Post title"
        formControlName="title"
      />
      <div
        *ngIf="form.get('title').invalid && form.get('title').touched"
        class="validation text-sm text-red-600 dark:text-red-500"
      >
        <small *ngIf="form.get('title').errors?.['required']" class="font-medium">Title couldn't be empty. </small>
        <small *ngIf="form.get('title').errors?.['minlength']" class="font-medium"
          >Title should be at least {{form.get('title').errors?.['minlength'].requiredLength}} symbols. Current title
          contains {{form.get('title').errors?.['minlength'].actualLength}} symbols.
        </small>
      </div>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="text"> Text </label>
      <textarea
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="text"
        type="text"
        placeholder="Post text"
        formControlName="text"
      >
      </textarea>
      <div
        *ngIf="form.get('text').invalid && form.get('text').touched"
        class="validation text-sm text-red-600 dark:text-red-500"
      >
        <small *ngIf="form.get('text').errors?.['required']" class="font-medium">Text couldn't be empty. </small>
        <small *ngIf="form.get('text').errors?.['minlength']" class="font-medium"
          >Text should be at least {{form.get('text').errors?.['minlength'].requiredLength}} symbols. Current text
          contains {{form.get('text').errors?.['minlength'].actualLength}} symbols.
        </small>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
        [disabled]="form.invalid"
      >
        Add post
      </button>
    </div>
  </form>
</div>
