<footer class="bg-gray-800">
  <div class="container py-6 mx-auto">
    <div class="flex items-center justify-between">
      <p class="text-sm text-gray-300 font-thin">© Copyright {{date | date:'yyyy'}} All Rights Reserved.</p>
      <div class="flex">
        <a href="#" class="mx-2 text-sm text-gray-200 hover:text-gray-300">
          Teams
        </a>
        <a href="#" class="mx-2 text-sm text-gray-200 hover:text-gray-300">
          Privacy
        </a>
        <a href="#" class="mx-2 text-sm text-gray-200 hover:text-gray-300">
          Cookies
        </a>
      </div>
    </div>
  </div>
</footer>
